::selection{
    background-color: #ffc107;
    color: black;
}

body{
    min-height: 100vh !important;
}

.active{
    color: #ffc107 !important;
}

.author{
    transition: all 0.15s ease-in;
}

.author:hover{
    color: #0d54be !important;
}

.nav-link:hover{
    color: #ffc107 !important;
}

i, button{
    transition: all 0.15s ease-in-out !important;
    cursor: pointer;
}

i:active, button:active{
    transform: scale(0.95) !important;
}

.img-fluid{
    min-height: 200px !important;
    max-height: 200px !important;
}

.fa-trash-can:hover{
    color: #dc3545 !important;
}

.fa-github:hover{
    color: #212529bf !important;
}

.greeting-message{
    opacity: 0.8 !important;
    transition: all 0.15s ease-in;
}

.greeting-message:hover {
    opacity: 1 !important;
}